.fond_frise {
    position: relative;
    background-image: url("../../images/salle_4/chambre/WEB/tableau.webp");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    padding-top: 1px;
}

.retour {
    /*position: absolute;*/
    /*bottom: -5%;*/
    /*left: 0;*/
    /*transform: none;*/
    /*max-width: 300px;*/
    /*height: 200px;*/

    position: absolute;
    bottom: 2%;
    left: 0;
    transform: none;
    max-width: 250px;
    height: 75px;
}

