html, body {
    margin: 0;
    padding: 0;
}

.fond_accueil {
    position: relative;
    /*background-image: url("../../images/salle_4/SVG/chambre_emplacement 1.svg");*/
    background-image: url("../../images/salle_4/chambre/WEB/chambre.webp");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    padding-top: 1px;
}

.clic_frise {
    position: absolute;
    top: 5%;
    left: 35%;
    width: 32%;
    height: 31%;
    cursor: pointer;
    background: transparent;
    display: block;
    /*border: 3px solid red;*/
}

.quizFin {
    position: absolute;
    top: 89%;
    left: 74%;
    width: 9%;
    height: 10%;
    cursor: pointer;
    background: transparent;
    display: block;
    /*border: 3px solid red;*/
}

.retour {
    position: absolute;
    bottom: 2%;
    left: 0;
    transform: none;
    max-width: 250px;
    height: 75px;
}


