/* === Fond général === */
body {
    margin: 0;
    height: 100vh;
    font-family: "IrishGrover", sans-serif;
}

.timer {
    position: fixed;
    top: 20px;
    left: 43%;
    font-size: 5rem;
    color: yellow;
    font-family: "IrishGrover", sans-serif;
    text-shadow: 0 0 10px black;
    z-index: 999;
}

/* === Boutons retour === */
.buttons {
    position: absolute;
    top: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.retour-wrapper {
    position: relative;
    display: inline-block;
}

.button-image {
    width: 200px;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
}

.mascotte-image:hover{
    content: url("../images/commun/mascotte/mascotte_interrogee.svg");
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px yellow);
}

.button-image:hover {
    content: url("../images/salle_1/images/boutons/retour-et-indice_jaune.webp");
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px yellow);
}

.retour-texte {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: bold;
    text-shadow: 0 0 8px white;
    font-size: 1rem;
    pointer-events: none;
}

.mascotte-popup {
    top: -40px; /* Elle dépasse un peu de la popup */
    right: 60%;

    width: 120px;
    height: auto;

    z-index: 1500;
    pointer-events: none;

    animation: float 2.5s ease-in-out infinite;
}

/* Animation flottante */
@keyframes float {
    0%   { transform: translateX(0) translateY(0); }
    50%  { transform: translateX(0) translateY(-12px); }
    100% { transform: translateX(0) translateY(0); }
}

.mascotte-image {
    width: 120px;
    height: auto;

    z-index: 1500;
    pointer-events: none;

    animation: float 2.5s ease-in-out infinite;
}

/* Animation flottante */
@keyframes float {
    0%   { transform: translateX(0) translateY(0); }
    50%  { transform: translateX(0) translateY(-12px); }
    100% { transform: translateX(0) translateY(0); }
}




