.background-container {
    position: relative;
    height: 950px;
    width: 1920px;
}

.envelope {
    position: relative;
    transform: translate(-50%, -50%); /* centre sur la coordonnée */
    cursor: pointer;
}
.envelope img {
    width: 100%;
    height: 100%;
}

.accueil-btn {
    display: inline-block;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    width: 200px;
    height: 100px;
    background-image: url('../images/salle_2/boutons/bouton_1.webp');
    background-size: cover;
    background-position: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 60px; /* centre verticalement le texte */
    border-radius: 10px;
    text-decoration: none;
    overflow: hidden;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.accueil-btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.blur-active {
    filter: blur(3px);
    transition: filter 0.3s ease;
}

/* Modale */
.modal {
    position: fixed;
    top: 20%;
    left: 25%;
    width: 50%;
    max-width: 1200px;
    height: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease, opacity 0.3s ease;
    z-index: 9999;
}

.modal.active {
    display: flex;
}

.modal-content {
    width: 100%;
    max-width: 1200px;
    padding: 0;
    border-radius: 12px;
    position: absolute;
    overflow: hidden;
}

.modal-body {
    position: relative;
}

#modal-image {
    width: 100%;
    display: block;
}

.modal-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 6px white;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
}

.modal-buttons {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.modal-buttons button {
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    color: white;
}

#btn-legitime {
    background-image: url(../images/salle_2/boutons/bouton_2_bleu.webp);
    background-repeat: no-repeat;
    background-position: center;
}

#btn-frauduleux {
    background-image: url(../images/salle_2/boutons/bouton_1_jaune.webp);
    background-repeat: no-repeat;
    background-position: center;

}

#btn-valider {
    background-image: url('../images/salle_2/boutons/bouton_1.webp');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.score-content {
    width: 400px; /* modale plus étroite pour laisser place à la mascotte */
    max-width: 400px;
    background: white;
    border-radius: 12px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

/* Décaler vers la droite */
#scoreModal.active .score-content {
    margin-left: auto; /* pousse à droite */
    margin-right: 50px; /* un peu d’espace à droite */
}

/* Overlay identique à la modale mail */
#scoreModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end; /* modale à droite */
    align-items: center;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    pointer-events: none;
    transition: background 0.3s ease, opacity 0.3s ease;
    z-index: 9999;
}

#scoreModal.active {
    opacity: 1;
    pointer-events: all;
}
