* {
    padding: 0;
    margin: 0;
}


body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.content{
    height: 1080px;
    width: 1920px;
    background-image: url("../images/salle_2/fond/fond.webp");
    background-size: 1920px 1080px;
    background-position: center;
    background-repeat: no-repeat;
}

.bureau-wrapper {
    position: absolute;
    top: 664px;
    left: 956px;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 500px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.bureau-wrapper:hover {
    transform: translate(-50%, -50%);
}

.bureau-svg {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease;
}

.bureau-normal {
    opacity: 1;
}

.bureau-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.bureau-wrapper:hover .bureau-normal {
    opacity: 0;
}

.bureau-wrapper:hover .bureau-hover {
    opacity: 1;
}

/* Responsive */
@media (max-width: 768px) {
    .bureau-wrapper {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .bureau-wrapper {
        width: 90%;
    }
}

.btn-accueil {
    display: inline-block;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    width: 200px;
    height: 100px;
    background-image: url('../images/salle_2/boutons/bouton_1.webp');
    background-size: cover;
    background-position: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 60px; /* centre verticalement le texte */
    border-radius: 10px;
    text-decoration: none;
    overflow: hidden;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.btn-accueil:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

